pandas
matplotlib
numpy
plotly
ipywidgets
jupyterlab==1.2.21

setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
ipython>=8.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.3.3 # not directly required, pinned by Snyk to avoid a vulnerability
